/*  your css code here. If applicable */
.body {
/* 	width:50%; */
}
.hero {
	    margin: 0px;
	width: 70%;
    height: 100%;
    background-color: white;
	
	display: flex;
	justify-content: space-between;
/* 	align-items: center; */
}
img {
	width: 70%;
	height: 30%;
	object-fit: cover;
}
.content {
    display: block;
	text-align: center;
	margin: auto;
	padding: 50px;
}
.btn {
	align-items: center;
	padding: 5px;
	background-color: red;
	color: white;
	border-radius: 4px;
}